<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>This is a weekly notification from <%= link_to "OVPDCARES", @url %>. Please do not reply to this email.</h1>

    <h3>Greetings <%= @user.email %>,</h3>

    <p>The weekly notifications have been sent out to the users.</p>

  </body>
</html>