<h1>Editing Project Component</h1>

<%= render 'form' %>

<%= link_to 'Show', project_project_component_path(@project_component.project, @project_component) %> |
<%= link_to 'Back', project_project_component_path(@project_component.project, @project_component) %>
