<h1>Editing Project</h1>
<% if current_user.admin || !current_user.universities.where(:id => @project.university_id ).blank? %>
	<%= render 'form' %>
<% else %>
	<%= render 'shared/unauthorized' %>
<% end %>

<%= link_to 'Show', @project %> |
<%= link_to 'Back', @project %>
