<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @project_classification.description %>
</p>

<%= link_to 'Edit', edit_project_classification_path(@project_classification) %> |
<%= link_to 'Back', project_classifications_path %>
