// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.progress {
  position: relative;
  span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
  }
}