<br>
<%= render 'shared/university_selector' %>
<br>
<br>
<div class="col-xs-12">
	<div class="panel panel-success text-center">
		<div class="panel-heading">
			<h1><%= @university.university_name %> Infrastructure Projects</h1>
		</div>
		<div class="panel-body">
			<%= render 'shared/projects_list' %>
		</div>
	</div>
</div>